.loader {
    border: 8px solid #A09FB1;
    border-top: 8px solid#1E213A;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }

  .container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    z-index: 4;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  .text {
    font-size: 24px;
    color:  #A09FB1;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }